@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.scrollable-div {
   
    overflow-y: scroll;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Microsoft Edge */
  }
  
.scrollable-div::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }

  main {
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px 20px;
  }

  body {
    background-image: url('./assets/bg/three.avif');
    background-repeat: no-repeat;
    background-size: cover;
  }